extends layout

block scripts
    script(src='/js/CountyMap.js')
    script(src='/js/one-color.js')
    script(src='/js/gradient.js')
    script(src='/js/diffmap.js')

block content
    h1 Walmarts vs. Farmer's Markets
    canvas#map-canvas(width='1200', height='800')