doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    block stylesheets
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    block scripts
  body
    .container
        block content