<ol class="breadcrumb">
    <li>
        <a href="/#/collections">Collections</a>
    </li>
    <li class="active">{{collection.name}}</li>
</ol>

<h2>{{collection.name}}</h2>

<dl class="dl-horizontal">
    <dt>Started</dt>
    <dd>{{collection.from | date:'MM/dd/yyyy'}}</dd>
    <dt>Count</dt>
    <dd>{{collection.count}}</dd>
</dl>

<button ng-show="!deleting" ng-click="startDeletion()" class="btn btn-default">Delete Collection</button>
<div ng-show="deleting" class="btn-group" role="group">
    <button ng-click="cancelDeletion()" class="btn btn-default" type="button">Cancel</button>
    <button ng-click="reallyDelete()" class="btn btn-danger" type="button">Delete Collection</button>
</div>


<h3>Twitter Mentions per Capita</h3>
<canvas id="per-capita-map" width="800" height="600"></canvas>

<h3>Browse Tweets</h3>

<div id="info-box" class="panel panel-default">
    <div class="panel-heading username">Tweet Browser</div>
    <div class="panel-body text">
        Hover over tweets below to see their content.
    </div>
</div>

<div style="width: 800px; height: 600px; position: absolute;">
    <div id="browse-map" style="width: 100%; height: 100%; position: absolute;"></div>
</div>
