<div ng-show="collections.length > 1">
    <div class="row">

        <div class="col-xs-3">
            <select id="left-select" ng-model="left" ng-options="collection.name for collection in collections" class="form-control" ng-change="changeLeft()">
            </select>
        </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-3">
            <select id="right-select" ng-model="right" ng-options="collection.name for collection in collections" class="form-control" ng-change="changeRight()">
            </select>
        </div>
    </div>

    <hr>

    <canvas id="diff-map" width="800" height="600"></canvas>
</div>
<div ng-show="collections < 2">
    <p>
        You need at least two collections in order to have any matchups!
        <a href="/#/collections">Create some collections</a>
    </p>
</div>
